body, * {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif; }

li, ul, a {
    list-style: none;
    text-decoration: none;
    color: #ffffff; }

input, textarea {
    border: none;
    background: none;
    outline: none;
    padding: 0; }

.container {
    width: 100%;
    max-width: 1020px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto; }
.container .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 90px;
    padding: 0 40px;
    color: #ffffff;
    background-color: #2d303a;
    border-bottom: 5px solid #323746; }
.container .header h1 {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase; }
.container .header h1 span {
    color: #f06c64; }
.container .header .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 370px;
    padding-top: 10px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase; }
.container .header .nav-menu li {
    cursor: pointer; }
.container .header .nav-menu li:after {
    content: '';
    position: relative;
    right: 15px;
    bottom: 8px;
    display: block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #494e62;
    cursor: auto; }
.container .header .nav-menu li:first-child::after {
    display: none; }
.container .header .nav-menu li:hover {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    color: #f06c64; }
.container .header .nav-menu .active {
    color: #f06c64; }
.container .main {
    position: relative;
    height: 595px;
    background-color: #f06c64;
    border-bottom: 5px solid #ea676b; }
.container .main .left {
    position: absolute;
    z-index: 60;
    content: url("assets/arrow-left.svg");
    display: block;
    cursor: pointer;
    top: 283px;
    left: 46px; }
.container .main .right {
    position: absolute;
    z-index: 60;
    content: url("assets/arrow-right.svg");
    display: block;
    cursor: pointer;
    top: 283px;
    right: 46px; }
.container .main .slide2 {
    position: relative;
    z-index: 50; }
.container .main .slider-box {
    display: none; }
.container .main .show {
    display: block; }
.container .main .slide1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
.container .main .slide1 .slider {
    position: relative;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }
.container .main .slide1 .slider .phone {
    position: absolute;
    z-index: 10; }
.container .main .slide1 .slider .screen {
    position: absolute;
    z-index: 30; }
.container .main .slide1 .slider .black {
    position: absolute;
    z-index: 20; }
.container .main .slide1 .slider .phone-vertical {
    top: 53px;
    left: 112px; }
.container .main .slide1 .slider .screen-vertical {
    top: 115px;
    left: 123px; }
.container .main .slide1 .slider .phone-horizontal {
    top: 175px;
    right: 110px; }
.container .main .slide1 .slider .screen-horizontal {
    top: 185px;
    right: 199px; }
.container .content {
    height: 495px;
    background-color: #f2f2f2;
    border-bottom: 5px solid #ffffff; }
.container .content .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 60px 40px 0;
    color: #666d89; }
.container .content .info h2 {
    font-size: 30px;
    font-weight: 700; }
.container .content .info p {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.1px;
    padding-top: 19px;
    line-height: 30px;
    word-spacing: 0.2px; }
.container .content .card_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 47px 40px 0;
    -ms-flex-preferred-size: 220px;
    flex-basis: 220px; }
.container .content .card_block .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 300px;
    flex-basis: 300px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 33px;
    color: #666d89;
    cursor: pointer; }
.container .content .card_block .card .card-icon {
    margin-right: 21px; }
.container .content .card_block .card .card-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
.container .content .card_block .card .card-item .card-title-in {
    font-size: 18px;
    line-height: 0.8em;
    letter-spacing: -0.2px; }
.container .content .card_block .card .card-item .card-txt {
    font-size: 12px;
    line-height: 1.8em;
    margin-top: 12px;
    text-align: justify;
    overflow-y: hidden; }
.container .header-portfolio {
    padding-left: 40px;
    padding-right: 40px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    color: #666d89; }
.container .header-portfolio .title-header {
    padding: 60px 0 22px 0;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 0.6px;
    margin: 0; }
.container .header-portfolio .paragraph {
    padding-bottom: 18px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: -0.2px; }
.container .header-portfolio .button-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 288px;
    padding-bottom: 19px; }
.container .header-portfolio .button-block .nav-btn {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #666d89;
    border-radius: 5px;
    font-size: 12px;
    color: #666d89;
    letter-spacing: -0.5px;
    cursor: pointer;
    padding: 3px 7px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
.container .header-portfolio .button-block .nav-btn:hover {
    background-color: #666d89;
    color: #2d303a; }
.container .header-portfolio .image-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 940px;
    padding-bottom: 46px; }
.container .header-portfolio .image-block .image {
    cursor: pointer;
    width: 220px;
    height: 187px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px; }
.container .header-portfolio .image-block .image-1 {
    background: url("assets/project1.png"); }
.container .header-portfolio .image-block .image-2 {
    background: url("assets/project2.png"); }
.container .header-portfolio .image-block .image-3 {
    background: url("assets/project3.png"); }
.container .header-portfolio .image-block .image-4 {
    background: url("assets/project4.png"); }
.container .header-portfolio .image-block .image-5 {
    background: url("assets/project5.png"); }
.container .header-portfolio .image-block .image-6 {
    background: url("assets/project6.png"); }
.container .header-portfolio .image-block .image-7 {
    background: url("assets/project7.png"); }
.container .header-portfolio .image-block .image-8 {
    background: url("assets/project8.png"); }
.container .header-portfolio .image-block .image-9 {
    background: url("assets/project9.png"); }
.container .header-portfolio .image-block .image-10 {
    background: url("assets/project10.png"); }
.container .header-portfolio .image-block .image-11 {
    background: url("assets/project11.png"); }
.container .header-portfolio .image-block .image-12 {
    background: url("assets/project12.png"); }
.container .header-portfolio .image-block .active_image {
    outline: 5px solid #F06C64; }
.container .header-portfolio .image-block .active_image:hover {
    -webkit-box-shadow: 0 0 15px rgba(102, 109, 137, 0.8);
    box-shadow: 0 0 15px rgba(102, 109, 137, 0.8); }
.container .about_us {
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
    padding: 0 40px; }
.container .about_us .about_title {
    color: #666d89;
    font-size: 30px;
    font-weight: 900;
    padding-top: 60px;
    letter-spacing: 0.6px; }
.container .about_us .about_paragraph {
    color: #666d89;
    font-size: 18px;
    font-weight: 300;
    padding-top: 20px;
    letter-spacing: -0.1px;
    line-height: 28px;
    text-align: justify; }
.container .about_us .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 50px; }
.container .about_us .card .card-item {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
.container .about_us .card .card-item .name {
    color: #666d89;
    font-size: 18px;
    font-weight: 900;
    padding-top: 12px; }
.container .about_us .card .card-item .card_paragraph {
    display: block;
    width: 100%;
    text-align: justify;
    color: #666d89;
    font-size: 12px;
    font-weight: 400;
    padding-top: 10px;
    letter-spacing: -0.1px;
    line-height: 20px; }
.container .about_us .card .card-item .social_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 152px;
    padding: 24px 0 67px; }
.container .about_us .card .card-item .social_block .facebook {
    background-image: url("assets/facebook.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
.container .about_us .card .card-item .social_block .facebook:hover {
    -webkit-box-shadow: 0 0 15px rgba(102, 109, 137, 0.8);
    box-shadow: 0 0 15px rgba(102, 109, 137, 0.8); }
.container .about_us .card .card-item .social_block .google {
    background-image: url("assets/google.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
.container .about_us .card .card-item .social_block .google:hover {
    -webkit-box-shadow: 0 0 15px rgba(102, 109, 137, 0.8);
    box-shadow: 0 0 15px rgba(102, 109, 137, 0.8); }
.container .about_us .card .card-item .social_block .twitter {
    background-image: url("assets/twitter.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
.container .about_us .card .card-item .social_block .twitter:hover {
    -webkit-box-shadow: 0 0 15px rgba(102, 109, 137, 0.8);
    box-shadow: 0 0 15px rgba(102, 109, 137, 0.8); }
.container .about_us .card .card-item .social_block .linkedin {
    background-image: url("assets/linkedin.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
.container .about_us .card .card-item .social_block .linkedin:hover {
    -webkit-box-shadow: 0 0 15px rgba(102, 109, 137, 0.8);
    box-shadow: 0 0 15px rgba(102, 109, 137, 0.8); }
.container .header-input {
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b; }
.container .header-input .title-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 40px 40px 43px;
    margin: 0 auto;
    letter-spacing: -0.1px; }
.container .header-input .title-wrap .title {
    color: #ffffff;
    font-size: 30px;
    font-weight: 900; }
.container .header-input .title-wrap .paragraph_1 {
    -moz-text-align-last: justify;
    text-align-last: justify;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px; }
.container .header-input .title-wrap .paragraph_2 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px; }
.container .header-input .main-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 40px 20px 40px; }
.container .header-input .main-form .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-preferred-size: 620px;
    flex-basis: 620px; }
.container .header-input .main-form .form .input {
    background-color: #d6564f;
    color: #f48c8f;
    border-radius: 4px;
    height: 38px;
    margin-bottom: 16px;
    padding: 0 15px; }
.container .header-input .main-form .form .input:hover {
    background-color: #ffffff;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
.container .header-input .main-form .form .input:focus {
    background-color: #ffffff; }
.container .header-input .main-form .form .input::-webkit-input-placeholder {
    color: #f48c8f;
    font-size: 12px;
    font-weight: 400; }
.container .header-input .main-form .form .input::-moz-placeholder {
    color: #f48c8f;
    font-size: 12px;
    font-weight: 400; }
.container .header-input .main-form .form .input:-ms-input-placeholder {
    color: #f48c8f;
    font-size: 12px;
    font-weight: 400; }
.container .header-input .main-form .form .input::-ms-input-placeholder {
    color: #f48c8f;
    font-size: 12px;
    font-weight: 400; }
.container .header-input .main-form .form .input::placeholder {
    color: #f48c8f;
    font-size: 12px;
    font-weight: 400; }
.container .header-input .main-form .form .textarea {
    resize: none;
    background-color: #d6564f;
    color: #f48c8f;
    border-radius: 4px;
    height: 183px;
    padding: 10px 15px 10px 15px;
    margin-bottom: 16px; }
.container .header-input .main-form .form .textarea:hover {
    background-color: #ffffff;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
.container .header-input .main-form .form .textarea:focus {
    background-color: #ffffff; }
.container .header-input .main-form .form .textarea::-webkit-input-placeholder {
    color: #f48c8f;
    font-size: 12px;
    font-weight: 400; }
.container .header-input .main-form .form .textarea::-moz-placeholder {
    color: #f48c8f;
    font-size: 12px;
    font-weight: 400; }
.container .header-input .main-form .form .textarea:-ms-input-placeholder {
    color: #f48c8f;
    font-size: 12px;
    font-weight: 400; }
.container .header-input .main-form .form .textarea::-ms-input-placeholder {
    color: #f48c8f;
    font-size: 12px;
    font-weight: 400; }
.container .header-input .main-form .form .textarea::placeholder {
    color: #f48c8f;
    font-size: 12px;
    font-weight: 400; }
.container .header-input .main-form .form .submit {
    width: 100px;
    height: 30px;
    margin: 0 auto;
    background-color: #d6564f;
    border: 2px solid #f48c8f;
    border-radius: 4px;
    color: #f48c8f;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
.container .header-input .main-form .form .submit:hover {
    background-color: #f48c8f;
    color: #d6564f;
    border: 2px solid #d6564f; }
.container .header-input .main-form .info {
    -ms-flex-preferred-size: 300px;
    flex-basis: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
.container .header-input .main-form .info .info_title {
    color: #ffffff;
    font-size: 18px;
    font-weight: 900;
    padding-bottom: 7px; }
.container .header-input .main-form .info .info_paragraph {
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    text-align: justify;
    line-height: 1.85; }
.container .header-input .main-form .info .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 142px;
    padding-top: 20px; }
.container .header-input .main-form .info .contacts .contact {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.797; }
.container .header-input .main-form .info .contacts .addr:before {
    content: url("assets/location.png");
    width: 7px;
    height: 11px;
    color: #ffffff;
    padding-left: 2px;
    padding-right: 13px; }
.container .header-input .main-form .info .contacts .addr:hover {
    text-decoration: underline; }
.container .header-input .main-form .info .contacts .tel:before {
    content: url("assets/phone small.png");
    width: 11px;
    height: 11px;
    color: #ffffff;
    padding-right: 13px; }
.container .header-input .main-form .info .contacts .tel:hover {
    text-decoration: underline; }
.container .header-input .main-form .info .contacts .mail:before {
    content: url("assets/mail.png");
    width: 13px;
    height: 8px;
    color: #ffffff;
    padding-right: 10px; }
.container .header-input .main-form .info .contacts .mail:hover {
    text-decoration: underline; }
.container .header-input .modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #0008; }
.container .header-input .modal .message {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 300px;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 10px;
    background: #f2f2f2;
    border-radius: 10px;
    text-align: center;
    word-wrap: break-word; }
.container .header-input .modal .message h3 {
    text-transform: uppercase;
    color: #ffffff;
    background-color: #d6564f;
    padding: 10px;
    border-radius: 10px 10px 0 0; }
.container .header-input .modal .message .them {
    display: block; }
.container .header-input .modal .message .description {
    display: block; }
.container .header-input .modal .message .close-btn {
    width: 100px;
    height: 30px;
    margin: 0 auto;
    background-color: #d6564f;
    border: 2px solid #f48c8f;
    border-radius: 4px;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer; }
.container .header-input .hidden {
    display: none; }
.container .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 40px;
    height: 76px;
    background-color: #2d303a;
    color: #666d89; }
.container .footer .copyright {
    font-size: 12px;
    font-weight: 400; }
.container .footer .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 152px; }
.container .footer .social .facebook-footer {
    background-image: url("assets/facebook.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
.container .footer .social .facebook-footer:hover {
    -webkit-box-shadow: 0 0 15px rgba(102, 109, 137, 0.8);
    box-shadow: 0 0 15px rgba(102, 109, 137, 0.8); }
.container .footer .social .google-footer {
    background-image: url("assets/google.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
.container .footer .social .google-footer:hover {
    -webkit-box-shadow: 0 0 15px rgba(102, 109, 137, 0.8);
    box-shadow: 0 0 15px rgba(102, 109, 137, 0.8); }
.container .footer .social .twitter-footer {
    background-image: url("assets/twitter.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
.container .footer .social .twitter-footer:hover {
    -webkit-box-shadow: 0 0 15px rgba(102, 109, 137, 0.8);
    box-shadow: 0 0 15px rgba(102, 109, 137, 0.8); }
.container .footer .social .linkedin-footer {
    background-image: url("assets/linkedin.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
.container .footer .social .linkedin-footer:hover {
    -webkit-box-shadow: 0 0 15px rgba(102, 109, 137, 0.8);
    box-shadow: 0 0 15px rgba(102, 109, 137, 0.8); }
