body,
*     {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
li, ul, a {
    list-style: none;
    text-decoration: none;
    color: #ffffff;
}
.container{
    width: 100%;
    max-width: 1020px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0 40px;
    color: #ffffff;
    background-color: #2d303a;
    border-bottom: 5px solid #323746;
}
.header h1{
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}
.header h1 span{
    color: #f06c64;
}
.navmenu{
    display: flex;
    justify-content: space-between;
    width: 370px;
    padding-top: 10px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
.navmenu li:after{
    content: '';
    position: relative;
    right: 15px;
    bottom: 8px;
    display: block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #494e62;
    cursor: auto;
}
.navmenu li:first-child::after{
    display: none;
}
.navmenu li :hover{
    transition: 0.3s;
    color: #f06c64;
}
.main{
    position: relative;
    height: 595px;
    background-color: #f06c64;
    border-bottom: 5px solid #ea676b;
}
.main::before{
    position: absolute;
    content: "";
    display: block;
    cursor: pointer;
    height: 17px;
    width: 17px;
    border-bottom: 5px solid #ca4549;
    border-left: 5px solid #ca4549;
    transform: rotate(45deg);
    top: 283px;
    left: 46px;
}
.main::after{
    position: absolute;
    content: "";
    display: block;
    cursor: pointer;
    height: 17px;
    width: 17px;
    border-bottom: 5px solid #ca4549;
    border-left: 5px solid #ca4549;
    transform: rotate(-135deg);
    top: 283px;
    right: 46px;
}
.slide{
    position: relative;
    width: 800px;
    height: 480px;
    margin: 0 auto;
}
.phone1{
    position: absolute;
    top: 53px;
    left: 2px;
}
.phone2{
    position: absolute;
    top: 174px;
    right: 0;
}
.content{
    height: 495px;
    background-color: #f2f2f2;
    border-bottom: 5px solid #ffffff;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 60px 40px 0;
    color: #666d89;
}
.info h2{
    font-size: 30px;
    font-weight: 700;
}
.info p{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.1px;
    padding-top: 19px;
    line-height: 30px;
    word-spacing: 0.2px;
}
.card_block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 47px 40px 0;
}
.card{
    display: flex;
    flex-basis: 300px;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 33px;
    color: #666d89;
    cursor: pointer;
}
.card img{
    margin-right: 21px;
}
.card_block{
    flex-basis: 220px;
}
.card-item h3{
    font-size: 18px;
    line-height: 0.8em;
    letter-spacing: -0.2px;
 }
.card-item p{
    font-size: 12px;
    line-height: 1.8em;
    margin-top: 12px;
    text-align: justify;
    overflow-y: hidden;
}